BasedOnStyle: WebKit
PointerAlignment: Right
SortIncludes: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false

Language: Cpp
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
AccessModifierOffset: -4
NamespaceIndentation: All
