BasedOnStyle: WebKit
PointerAlignment: Right
SortIncludes: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false

Language: C
ColumnLimit:     80
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
AccessModifierOffset: -4
NamespaceIndentation: All
